/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.propertiesTitles {
	fontSize:15;
}

.propertiesLabel {
	fontSize:12;
}

.propertiesLabelBolded {
	fontSize:12;
	fontWeight: bold;
}

.slideRendererIndexLabel {
	color: #FFFFFF;
	fontWeight: bold;
}

.slidePropertiesTitleButton {
	cornerRadius: 5;
	fontSize: 26;
	color: #444444;
}

.messageBig {
	fontWeight: bold;
	fontSize: 16;
	color: #FFFFFF;
}

.messageSmall {
	fontWeight: bold;
	fontSize: 14;
	color: #FFFFFF;
}

.hint {
	color: #FFFFFF;
}

.highlightedButton {
	chromeColor: #4073C5;
	color: #FFFFFF;
	fontWeight: bold;
}

.defaultButton {
	chromeColor: #AAAAAA;
	color: #000000;
	fontWeight: normal;
}